{
  "rules": {
    "string-quotes": "double",
    "color-hex-case": "lower",
    "color-no-invalid-hex": true,
    "number-leading-zero": "never",
    "number-max-precision": 3,
    "number-no-trailing-zeros": true,
    "number-zero-length-no-unit": true
  }
}
