@import 'boh/test';

$test : red;
@alias {
  fs: font-size;
  bg: background;
}

@lost cycle none;

@font-face {
  font-family: 'My Font';
  font-path: '/my/font/file';
  font-weight: normal;
  font-style: normal;
  
}

body {
	// boh
	display: flex;
	lost-column: 1/2;
	//background: $test;
  z-index: 59038459;
	position: absolute 0;
	box-shadow: 1px, 1px, 1px, #000;
	fs: 16px;
	.main {
		display: flex;
    z-index: 590;
		//opacity: 0.8;
    h1 {
      color: red;
    }
    h1 {
      font-size: 25px;
    }
		color: rgba(#d7d7d7, 0.8);
    &:before {
      content: ' ';
    }
	}
}